/*global*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
h1,h2,h3{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
img{
    max-width: 100%;
}

/*header*/
.site-header{
    background-image: url(realEstate-img-main/header.jpg);
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}
.site-header-a{
    color: white;
}
.bar-menu{
    display: flex;
    justify-content: space-around;
    height: 80px;
    color: white;
}
/*about*/
.about-container{
    display: flex;
    justify-content: space-between;
}
/*utilities*/
.container{
    width: 70%;
    margin-left: 40px;
    margin-right: auto;
}
.about-item{
    margin-right: 30px;
}
.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color:  rgb(209, 179, 10);
    color:white;
}
/*nav menu*/
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}
/*houses*/
.houses-item-text{
    padding: 10px;
}
.houses-item{
    background-color: #dedede;
}
.price{
    color: green;
    font-weight: bold;
}
.icon-container{
    display: flex;
    justify-content: space-around;
}
.icon-number{
    display: flex;
}
.icon-number-img{
    margin-right: 20px;
}
.icon-p-space{
    margin-left: 10px;
}
